@media screen and (max-width: 768px) {

    /* ADATTAMENTO CONTAINER */
    .container {
        width: 100vw;
        height: 100vh;
    }

    /* PARTE SUPERIORE WEB APP */
    #head-wp .col-left {
        width: 15%;
    }

    #head-wp .col-right {
        width: 85%;
        background-color: blueviolet;
    }

    /* MENU LATERALE */

    .l-head {
        display: none;
    }

    #l-menu .col-hide {
        display: none;
    }

    #l-menu .col {
        width: 43%;
        background-color: red;
    }
}

@media screen and (max-width: 576px) {

    /* PARTE SUPERIORE WEB APP */
    #head-wp .col-left {
        display: none;
    }

    #head-wp .col-right {
        width: 100%;
        background-color: blueviolet;
    }

    /* MENU LATEWRALE */

    #l-menu {
        display: none;
    }
}